extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/location.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

block content
  h1= title
  p Welcome to #{title}
  br
  h2 Elevation:
  p#elevationID Loading...